*{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header{
  height: 20%;
  width: 100%;
  background-color: bisque;
}

.title{
  text-align: center;
  font-size: 5rem;
  padding-top: 2%;
}


.sub{
  vertical-align: sub;
  font-size: 1.5rem;
  font-style: italic;
}

/* .header a{
  font-size: 3rem;
} */

.menu-card{
  height: auto;
  display: inline-block;
  width: 23%;
  margin: 3% 0 0 1.7%;
  box-shadow: 5px 5px 18px grey;;
}


/* .card-image{
  height: auto;
  width: auto;
} */

.card-image img{
  height: auto;
  width: 100%;
  overflow: hidden;
}
.card-text{
  font-size: 2.5rem;
  display: flex;
  padding: 2%;
  text-decoration: none;
  justify-content: center;
}

/* .painting{
  display: inline-flex;
  height: auto;
  width: 100%;
} */

.paint-card{
  height: auto;
  width: 31%;
  display: inline-block;
  margin:  3% 1% 0 1.2%;
}

.paint-card img{
  height: auto;
  width: 100%;
}

.paint_div{
  height: auto;
  width: auto;
}

.paint-text{
  font-size: 2.5rem;
  margin: 0% 0 0 0%;
  text-align: center;
}

.joker{
  height: auto;
  width: auto;
  justify-content: center;
}

.left-joker img{
  height: 100%;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  background-color: cornflowerblue;
  box-shadow: 10px 10px 13px #aaaaaa;
}

.joker .right-joker p{
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  margin: auto;
  padding: 20px 15px 0 15px;
  text-align: center;
}

.comment-box{
  height: auto;
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
}
 
.thoughts{
  justify-content: center;
  display: flex;
  color: black;
  font-size: 2.5rem;
}
/*
.content-box{
  height: 10%;
  margin: auto;
  margin-top: 2%;
  width: 80%;
  display: flex;
  background-color: cadetblue;
}
*/

.form{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form input{
  padding: 7px;
  width: 40%;
  font-size: 1.2rem;
  display: flex;
  text-align: center;
  border: none;
  margin: auto;
  margin-top: 0.5%;
  border-radius: 5px;
}
.form button{
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  padding: 7px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2%;
}

.comment-display{
  height: auto;
  margin-top: 1%;
  width: 100%;
  font-size: 1rem;
  padding: 1% 0 0 2%;
  color: black;
  margin-bottom: 2%;
}



.recipe_parent{
  height: auto;
  width: auto;
}

.recipe_title{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2%;
  text-decoration: underline;
}

.title_image{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  height: auto;
  width: auto;
}

.title_image .restaurant_image{
  height: auto;
  width: 40%;
}


.order_box{
  width: 100%;
  padding: 0 1% 4% 1%;
  height: 40%;
  margin-top: 2%;
  display: inline-flex;
}

.order_box h2{
  text-align: center;
  font-size: 2rem;
  padding: 1% 0 0 0;
}

.menu_box{
  height: auto;
  width: 50%;
  padding: 0 0 2% 0;
  background-color: lightgreen;
}

.checkout_box{
  height: auto;
  width: 50%;
  background-color: lightskyblue;
}
.menu_list{
  margin-top: 2%;
  display: flex;
  padding:  0 2% 0 2%;
  justify-content: space-between;
}




.menu_items{
  font-size: 1.3rem;
  display: block;
}

.add{
  padding:  0.7% 2% 0.7% 2% ;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
  margin: 0 0 2% 0 ;
  font-size: 1.1rem;
  cursor: pointer;
}

.menu_name{
  font-size: 5rem;
  border: 2px solid black;
}


@media (max-width: 767px) {
  .header{
    height: 10%;
    width: auto;
    background-color: powderblue;
  }
  .title{
    font-size: 2rem;
  }
  .header a{
    font-size: 1rem;
  }
  /* .menu-card .card-text img .card-text{
    display: flex;
  } */
  .menu-card{
    display: flexbox;
    flex-direction: row;
    width: 67%;
    margin: 5% 0 0 17% ;
  }
  .menu-card .card-text{
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
  }

  .paint-card{
    display: flexbox;
    flex-direction: row;
    width: 67%;
    margin: 5% 0 0 17% ;
  }
  .paint-card .paint-text{
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
  }
  
  .parent_footer .footer_title{
    font-size: 0.7rem;
    font-weight: 900;
  }
  .parent_footer .footer_mid h1{
    font-size: 1.5rem;
  }
  .parent_footer .footer_mid p{
    font-size: 1rem;
  }
  
  .parent_footer .footer_mid a{
    font-size: 1.5rem;
    margin-top: -18%;
  }
  .parent_footer .footer_mid{
    width: 40%;
  }
  .parent_footer .footer_last a{
    font-size: 1.5rem;
  }
  .parent_footer .footer_last h1{
    font-size: 1.5rem;
  }
  .recipe_title h1 {
    font-size: 2.5rem;
  }
  .recipe_parent .title_image .restaurant_image{
    height: auto;
    width: 95%;
  }
  .recipe_parent .order_box h2{
    font-size: 1.5rem;
    padding: 2%;
  }
  .recipe_parent .menu_items{
    font-size: 0.9rem;
    line-height: 25px;
  }
  .recipe_parent .add{
    font-size: 1rem;
  }
 .checkout_box .checkout_items{
   display: flex;
   flex-direction: column;
 }
 .checkout_box .checkout_items .ItemsName, .price_checkout{
   font-size: 1rem;
 }

 .checkout_box h4{
   line-height: 25px;
 }
}

.checkout_items{
  height: auto;
  width: 100;
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  font-size: 1.5rem;
}

.itemname_checkout{
  line-height: 1px;
}

.price_checkout{
  line-height: 1px;
}

.ItemsName{
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.price{
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
}



.parent_footer{
  height: auto;
  width: 100%;
  background-color: lightskyblue;
  display: inline-flex;
  margin-top: 5%;
}



.footer_title{
  font-size: 2rem;
  padding: 2%;
  /*   */
}

.footer_mid{
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center;
  line-height: 30px;
  height: auto;
  width: 60%;
  text-align: center;
  /* border-right: 2px solid slategrey; */
}

.footer_mid h1{
  font-size: 2.2rem;
}

.footer_mid p{
  font-size: 1.2rem;
  padding: 2%;
}

.footer_mid a{
  font-size: 2rem;
  padding: 1%;
  color: white;
  border: 4px solid white;
  border-radius: 5px;
  background-color: black;
}

.footer_mid a:hover{
  color: black;
  background-color: white;
  border-color: black;
}

.footer_last{
  height: auto;
  width: auto;
  display: block;
  justify-content: center;
  line-height: 40px;
  padding: 1%;
}



.footer_last a{
  font-size: 2rem;
}
